.body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header map"
    "city map"
    "artists map"
    "footer map";
  grid-template-rows: auto auto minmax(0px, 1fr) auto;
  grid-template-columns: 300px 1fr;
  background-color: #0d0221;
  color: #86e2d5;
  font-family: "Open Sans", sans-serif;
}

.header {
  grid-area: header;
  text-align: center;
}

.header__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__subtitle-text {
  overflow: hidden;
  white-space: nowrap;
  height: 22px;
  animation-delay: 2s;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: header__subtitle--transition;
}

/* Extra steps are used to allow for delay between transitions */
@keyframes header__subtitle--transition {
  0% {
    width: 77px;
    transform: scaleX(1);
  }
  20% {
    width: 0;
    transform: scaleX(0);
  }
  50% {
    width: 0;
    transform: scaleX(0);
  }
  80% {
    width: 77px;
    transform: scaleX(1);
  }
  100% {
    width: 77px;
    transform: scaleX(1);
  }
}

.header__subtitle-text--bold {
  font-weight: 800;
}

.title__text {
  margin: 0;
  font-family: "Black Ops One", cursive;
  font-size: 3rem;
  font-weight: 400;
}

.city {
  grid-area: city;
  margin: 0 1rem;
}

.city__header {
  font-size: 1.25rem;
}

.city__text {
  margin-left: 1rem;
}

.artists {
  grid-area: artists;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.artists__header {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.artists__list {
  overflow-y: auto;
  margin: 0;
  padding-right: 1rem;
  padding-left: 2.125rem;
}

.artists__list-item {
  list-style: none;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.map {
  grid-area: map;
  cursor: crosshair;
}

@media (max-width: 800px) {
  .body {
    grid-template-areas:
      "header   header"
      "city  artists"
      "map      map"
      "footer   footer";

    grid-template-rows: auto minmax(0px, 1fr) minmax(0px, 1fr) auto;
    grid-template-columns: 30% 70%;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .city__text {
    margin: 0;
  }

  .artists {
    margin-left: 1rem;
  }

  .artists__header {
    margin-left: 0;
  }

  .artists__list {
    padding-bottom: 1rem;
    padding-left: 0;
  }
}
