.body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas:
    "header map"
    "main   map "
    "footer map";
  grid-template-rows: auto minmax(0px, 1fr) auto;
  grid-template-columns: 300px 1fr;
  background-color: #0d0221;
  color: #86e2d5;
  font-family: "Open Sans", sans-serif;
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.header {
  text-align: center;
}

.title__text {
  margin: 0;
  font-family: "Black Ops One", cursive;
  font-size: 3rem;
  font-weight: 400;
}

.city {
  margin-left: 1rem;
}

.city__header {
  font-size: 1.25rem;
}

.city__text {
  margin-left: 1rem;
}

.artists__header {
  font-size: 1.25rem;
  margin-left: 1rem;
}

.artists {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.artists__list {
  overflow-y: auto;
  margin: 0;
  padding-right: 1rem;
  padding-left: 2.125rem;
}

.artists__list-item {
  list-style: none;
}

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.map {
  grid-area: map;
  cursor: crosshair;
}

@media (max-width: 800px) {
  .body {
    grid-template-areas:
      "main "
      "map"
      "footer";

    grid-template-rows: minmax(0px, 3fr) minmax(0px, 2fr) auto;
    grid-template-columns: 1fr;
  }
}
